[server]
#port = 8080
#verbose = true
#dbLog = false
#directFileAccess = false

[database]
#connection = "postgres://host=localhost sslmode=disable dbname=olaris"

[debug]
#streamingPages = false
#transcoderLog = true

[metadata]
#scanHidden = false

[rclone]
#configFile = "$HOME/.config/rclone/rclone.conf"